@mixin animate-opacity($start, $end, $duration, $delay: 0s) {
    opacity: $start;
    animation: animate-opacity $duration ease $delay forwards;

    @keyframes animate-opacity {
        from { opacity: $start; }
        to { opacity: $end; }
    }
}

@mixin animate-margin($direction, $start, $end, $duration, $delay: 0s) {
    $name: margin-#{$direction};

    #{$name}: $start;
    animation: animate-margin $duration ease $delay forwards;

    @keyframes animate-margin {
        from { #{$name}: $start; }
        to { #{$name}: $end; }
    }
}
