@mixin animate-opacity($start, $end, $duration, $delay: 0s) {
    opacity: $start;
    animation: animate-opacity $duration ease $delay forwards;

    @keyframes animate-opacity {
        from { opacity: $start; }
        to { opacity: $end; }
    }
}

@mixin emerge($startBackground, $endBackground, $startShadow, $endShadow, $duration, $delay: 0s) {
    background-color: $startBackground;
    box-shadow: $startShadow;
    animation: emerge $duration ease $delay forwards;

    @keyframes emerge {
        from {
            background-color: $startBackground;
            box-shadow: $startShadow;
        }
        to {
            background-color: $endBackground;
            box-shadow: $endShadow;
        }
    }
}
