:root {
    // font sizes (16px as baseline)
    --font-sizes-000: 0.5rem; // 8px
    --font-sizes-100: 0.625rem; // 10px
    --font-sizes-200: 0.75rem; // 12px
    --font-sizes-300: 0.875rem; // 14px
    --font-sizes-400: 1rem; // 16px
    --font-sizes-500: 1.25rem; // 20px
    --font-sizes-600: 1.5rem; // 24px
    --font-sizes-700: 1.75rem; // 28px
    --font-sizes-800: 3rem; // 48px
    --font-sizes-900: 4.5rem; // 72px
    --font-sizes-1000: 6.75rem; // 108px
    // font colors
    --font-colors-0-00: rgb(255, 255, 255);
    --font-colors-1-00: rgb(235, 235, 235);
    --font-colors-2-00: rgb(210, 210, 210);
    --font-colors-3-00: rgb(180, 180, 180);
    --font-colors-4-00: rgb(150, 150, 150);
    // primary colors
    --primary-colors-5-00: rgb(106, 100, 121);
    --primary-colors-7-00: rgb(80, 75, 92);
    --primary-colors-8-00: rgb(65, 61, 75);
    --primary-colors-9-00: rgb(59, 54, 69);
    --primary-colors-10-00: rgb(49, 45, 60);
    // item type colors
    --item-type-colors-task-0-00: rgb(23, 135, 141);
    --item-type-colors-task-2-02: rgba(25, 184, 247, 0.2);
    --item-type-colors-interruption-0-00: rgb(157, 125, 42);
    --item-type-colors-interruption-2-02: rgba(228, 188, 87, 0.2);
    // event type colors
    --event-type-colors-working-0-00: rgb(175, 139, 20);
    --event-type-colors-idling-0-00: rgb(28, 228, 128);
    // priority colors
    --priority-colors-low-0-00: rgb(86, 233, 28);
    --priority-colors-medium-0-00: rgb(241, 155, 26);
    --priority-colors-high-0-00: rgb(248, 53, 53);
    // text editor colors
    --text-editor-color: rgb(72, 88, 144);
    // button colors
    --creation-button-color-start: rgb(21, 218, 76);
    --creation-button-color-end: rgba(15, 168, 58, 0.3);
    --creation-button-color-shadow: rgba(5, 164, 49, 0.35);
    --start-button-color-inactive: rgb(235, 235, 235);
    --start-button-color-active: rgb(235, 231, 11);
    --stop-button-color-inactive: rgb(235, 231, 11);
    --stop-button-color-active: rgb(253, 49, 49);
    // context colors
    --context-colors-suggestion-0-00: rgb(228, 196, 19);
    --context-colors-warning-0-00: rgb(253, 49, 49);
    --context-colors-warning-1-00: rgb(212, 32, 32);
    --context-colors-info-0-00: rgb(45, 219, 241);
    --context-colors-info-1-00: rgb(34, 184, 204);
}

@mixin flex-row($align: initial, $justify: initial) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
}

@mixin flex-column($align: initial, $justify: initial) {
    display: flex;
    flex-direction: column;
    align-items: $align;
    justify-content: $justify;
}
