:root {
    // primary colors
    --primary-colors-8-00: rgb(65, 61, 75);
    --primary-colors-9-00: rgb(59, 54, 69);
    --primary-colors-10-00: rgb(49, 45, 60);
    // font colors
    --font-colors-0-00: rgb(255, 255, 255);
    // font sizes (16px as baseline)
    --font-sizes-000: 0.5rem; // 8px
    --font-sizes-100: 0.625rem; // 10px
    --font-sizes-200: 0.75rem; // 12px
    --font-sizes-300: 0.875rem; // 14px
    --font-sizes-400: 1rem; // 16px
    --font-sizes-500: 1.25rem; // 20px
    --font-sizes-600: 1.5rem; // 24px
    --font-sizes-700: 1.75rem; // 28px
    --font-sizes-800: 3rem; // 48px
    --font-sizes-900: 4.5rem; // 72px
    --font-sizes-1000: 6.75rem; // 108px
}
